<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/dashboard.css">
</head>
<body>
    <div class="profile">
        <div class="profile-background">
            <div class="overlay"></div>
            <div class="heading">
                <h1>Dashboard</h1>
    
            </div>
        </div>
    
        <div class="chart">
            <div class="profileCard">
                <div class="profileImg">
                    <img src="/images/profile.png" alt="">
                </div>
                <div class="profile-details">
                    <h2>Patient's Appoinment Manager</h2>
    
                    <div class="info">
                        <p>A Place where you can view the appointments you've booked, modify and Delete them or add more if
                            necessary</p>

                            <button>book Another</button>

                    </div>
                </div>
            </div>

            <div class="analysis">
                <div class="profile-details">
                    <h2>Patient's Appoinment Manager</h2>
    
                    <div class="info">
                            <label for=""><i><%=aggregate[0].procedure_num%></i> Available procedures To choose from</p></label><p>
                           <label style="margin-right: .8rem;" for="">with an avergae cost of</label><i>$<%=aggregate[0].average_cost%></i>
                    </div>
                </div>
            </div>
    
        </div>

        <h2 class="table-head">Appointment Details</h2>

        <table id="patients">
            <tr>
               <th colspan="2">Patient's Name</th>
               <th>Gender</th>
               <th colspan="3">Doctor's Name</th>
               <th>Procedure</th>
               <th>Department</th>
               <th>Appoinment Date</th>
               <th>Estimated Cost (USD)</th>
               <th>Action</th>
            </tr>
            <%if(appointments.length){%>
           <% appointments.forEach((appointment)=>{%>
            <tr>
                <td><%=appointment.first_nm%></td>
                <td><%=appointment.last_nm%></td>
                <td><%=appointment.gender%></td>
                <td><%=appointment.title%></td>
                <td><%=appointment.Doc_fname%></td>
                <td><%=appointment.Doc_lname%></td>
                <td><%=appointment.procedure%></td>
                <td><%=appointment.department%></td>
                <td><%=appointment.appointment_date%></td>
                <td>$<%=appointment.estimated_cost%>.00</td>
                <td>
                    <a href="/dashboard/edit/<%=appointment.app_id%>">Edit</a>
                    <a href="/dashboard/delete/<%=appointment.pat_id%>">Delete</a>
                </td>
            </tr>
        <%})%>
        <%}else{%>
            <tr>
                <td colspan="9">No appointments to see</td>
            </tr>
            
        <% } %>
    
        </table>
        
     
    </div>

   
</body>
</html>